<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">View all users and their data</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="https://www.linkedin.com/in/dhananjay-pai">Connect</a>
                  </li>
                </ul>
                <form class="d-flex" role="search" method="POST" action='/viewuser/all/'> {% csrf_token %}
                  <input name='search' class="form-control me-2" type="search" placeholder="Enter UserId or UserName" aria-label="Search" required=True>
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

          <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">View all Users</li>
                </ol>
              </nav>
          </div>
    </div>
    
    <br>
    <br>
    <div class="container">
      {% if search == 1 %}
      <div class="card-body">
        <h5 class="card-title">{{filtereddata.name}}</h5>
        <p class="lead">
          User Id of {{filtereddata.name}} = {{filtereddata.id}}
        </p>
        <ul class="list-unstyled">
          <li>UserName : {{filtereddata.name}}</li>
          <li>UserId : {{filtereddata.id}}</li>
          <li>UserAge : {{filtereddata.age}}</li>
          <li>UserCreated: {{filtereddata.created}}</li>
        </ul>
      </div>
    <br>
    {% elif search == 2 %}
     {% for ind,data in filtereddata.items %}
     <div class="card-body">
      <h5 class="card-title">{{ind}} : {{data.name}}</h5>
      <p class="lead">
        <strong> User Id of {{data.name}} = {{data.id}} </strong>
      </p>
      <ul class="list-unstyled">
        <li>UserName : {{data.name}}</li>
        <li>UserId : {{data.id}}</li>
        <li>UserAge : {{data.age}}</li>
        <li>UserCreated: {{data.created}}</li>
      </ul>
    </div>
  <br>
  {% endfor %}
        {% elif signal == 1 %}
        <div class="container">
            {% for dic in data %}
            <div class="card mb-3">
              <p>ID: {{dic.id}}</p> <h5 class="card-title"><mark>Name:</mark> {{dic.name}}</h5>
              <img src="{{dic.image}}" height="250" width="40" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><mark>Description:</mark> <strong>{{dic.description}}</strong></p>
                <p class="card-text"><mark>Location:</mark> <strong>{{dic.location}}</strong></p>
                <p class="card-text"><mark>Added on:</mark> <strong>{{dic.created}}</strong></p>
              </div>
            </div>
            
          {% endfor %}
        </div>
        {% elif signal == 2 %}
            <div class="alert alert-danger" role="alert">
            Ehhhh.. Something went wrong. Please try again after some time.
            </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>